
/* Other keyframes remain unchanged */
svg{
    position: absolute;
}


#kcn{
    fill: rgb(231, 203, 203);
}
/* 
.Kachin{
    position: absolute;
} .Shan{
    position: absolute;
} .Chin{
    position: absolute;
} .Sagaing{
    position: absolute;
} .Magway{
    position: absolute;
} .Mandalay{
    position: absolute;
} .Kayah{
    position: absolute;
} .Rakhine{
    position: absolute;
} .Bago{
    position: absolute;
} .Kayin{
    position: absolute;
} .ayeyarwaddy{
    position: absolute;
} .Yangon{
    position: absolute;
} .Tanintaryi{
    position: absolute;
} .Mon{
    position: absolute;
} .NayPyiTaw{
    position: absolute;
}
 */
